- if @event.errors.any?
  %ul
  - @event.errors.full_messages.each do |msg|
    %li
      = msg

= form_for @event do |f|
  %p
    = f.label :name 
    = f.text_field :name
  %p
    = f.label :location 
    = f.text_field :location
  %p
    = f.label :address 
    = f.text_field :address
  %p
    = f.label :city 
    = f.text_field :city
  %p
    = f.label :state 
    = f.text_field :state
  %p
    = f.label :question 
    = f.text_field :question
  %p
    = f.label :passphrase 
    = f.text_field :passphrase
  %p
    = f.label :description 
    = f.text_field :description
  %p 
    = f.submit


