%h1= @event.name
  
%p= @event.location
%p= @event.address 
%p= @event.city
%p= @event.state
%p= @event.question
%p= @event.description

=if current_user == @event.user
  %p= link_to("Edit Event", edit_event_path(@event))
  %p= link_to("Delete Event", event_path(@event), :method => :delete, :confirm => "Are you sure you would like to delete this event?")

= form_for @pick do |f|
  %p
    f.label :user
    f.collection_select(:user_id, @event.users, :id, :name)
    f.submit
