%section.module.parallax.parallax-1
  .row
    .large-4.medium-4.columns
      .panel.margin-50
        %p
          %strong Already have a code?
          = form_for Attendee.new do |f|
            = label_tag "Please enter your code to join event:"
            = text_field_tag :passphrase
            = f.submit "Join", class: 'button tiny'
    .large-8.medium-8.columns
      #infobox.panel
        %h3
          %strong
            Social Path
          is a web app that generates a simple sociogram showing the relationships between a group of people based on a response to one customizable question.
.row.margin-50
  .large-4.medium-4.columns.text-justify
    =image_tag("fullmap.png", class: "th")
    %h4 Social Path gives you a platform for you to pose a question.
    %p Start out by posing a question to your group.  When you create and event, you'll have a special passphrase to give to your group members to sign up.  Each member signs in, and selects their top 3 responses from a list of joined members.

  .large-4.medium-4.columns.text-justify
    =image_tag("map.png", class: "th")
    %h4 See the people that influence your group.
    %p Social Path generates a sociogram from the responses of the group. The sociogram gives you a visual representation of who the main influences are in the group. Get insight on where dysfunctions, bonds, and conflicts might occur.

  .large-4.medium-4.columns.text-justify
    =image_tag("highlight.png", class: "th")
    %h4 Social Path illuminates important interpersonal connections by generating a sociogram.
    %p Dig deeper with Social Path.  Social path allows you to highlight the connections for each person in your group.  You can view their selection, as well as which people chose this person.
.panel
  .row
    .large-12.columns
      %h4 Want to see a live demo of Social Path at work?
      .row
        .large-4.medium-4.columns.text-justify
          %h5 Step One:
          %p
            1. Click on the "Sign into Demo Account" and then click on "Sign-in".
        .large-4.medium-4.columns.text-justify
          %h5 Step Two:
          %p
            2. Click on "View Event Dashboard".
        .large-4.medium-4.columns.text-justify
          %h5 Step Three:
          %p
            2. Click on "View Sociogram" from the Event Dashboard, or click below to jump straight to the sociogram.
  .row
    .large-4.medium-4.columns
      %a.radius.button.small.span.expand{"data-reveal-id" => "firstModal", :href => "/events/new"} Sign into Demo Account
      #firstModal.reveal-modal{"data-reveal" => ""}
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.label :email
            %br/
            = f.email_field :email, value:"judy@judy.com", autofocus: true
          .field
            = f.label :password
            %br/
            = f.password_field :password, value:"password"
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          .actions
            = f.submit "Sign-in", class: "button small"
    .large-4.medium-4.columns

      =link_to "View Event Dashboard", "events/1", class: "button small expand"
    .large-4.medium-4.columns

      =link_to "View Sociogram", "events/1/picks", class: "button small expand"

%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Judy Nguyen (2014)
