%section.module.parallax.parallax-1
  .row.data-equalizer
    .large-4.medium-4.columns.data-equalizer-watch
      .panel.margin-50
        %p
          %strong Already have a code?
          = form_for Attendee.new do |f|
            = label_tag "Please enter your code to join event:"
            = text_field_tag :passphrase
            = f.submit "Join", class: 'button tiny'
    .large-8.medium-8.columns.data-equalizer-watch
      #infobox.panel
        %h4
          Social Path is a web app that generates a simple sociogram showing the relationships between a group of people based on a response to one customizable question.
.row.margin-50
  .large-4.medium-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
    %h4 Social Path gives you a platform for you to pose a question...
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
  .large-4.medium-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
    %h4 ...get respones from your group in an efficent organized manner...
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
  .large-4.medium-4.columns
    %img{:src => "http://placehold.it/400x300&text=[img]"}/
    %h4 ...and illuminates important interpersonal connections by generating a sociogram.
    %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
.row
  .large-12.columns
    .panel
      %h4 Ready to try Social Path?
      .row
        .large-9.medium-9.columns
          %p Create and Event with Social Path today!
        .large-3.medium-3.columns
          %a.radius.button{"data-reveal-id" => "firstModal", :href => "/events/new"} Create Event
          #firstModal.reveal-modal{"data-reveal" => ""}
            %h2 New Event Form:
            %p
              - if @event.errors.any?
                %ul
                - @event.errors.full_messages.each do |msg|
                  %li
                    = msg

              = form_for @event do |f|
                %p
                  = f.label :name 
                  = f.text_field :name
                %p
                  = f.label :location 
                  = f.text_field :location
                %p
                  = f.label :address 
                  = f.text_field :address
                %p
                  = f.label :city 
                  = f.text_field :city
                %p
                  = f.label :state 
                  = f.text_field :state
                %p
                  = f.label :zipcode 
                  = f.text_field :zipcode
                %p
                  = f.label :question 
                  = f.text_field :question
                %p
                  = f.label :passphrase 
                  = f.text_field :passphrase, value: ('a'..'z').to_a.shuffle[0,5].join.upcase
                %p
                  = f.label :description 
                  = f.text_field :description
                %p 
                  = f.submit
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Judy Nguyen (2014)
