%section.module.parallax.parallax-1
  .row.data-equalizer
    .large-4.medium-4.columns.data-equalizer-watch
      .panel.margin-50
        %p
          %strong Already have a code?
          = form_for Attendee.new do |f|
            = label_tag "Please enter your code to join event:"
            = text_field_tag :passphrase
            = f.submit "Join", class: 'button tiny'
    .large-8.medium-8.columns.data-equalizer-watch
      #infobox.panel
        %h4
          Social Path is a web app that generates a simple sociogram showing the relationships between a group of people based on a response to one customizable question.
.row.margin-50
  .large-4.medium-4.columns
    =image_tag("fullmap.png", class: "th")
    %h4 Social Path gives you a platform for you to pose a question.
    %p Start out by posing a question to your group.  When you create and event, you'll have a special passphrase to give to your group members to sign up.  Each member signs in, and selects their top 3 responses from a list of joined members.

  .large-4.medium-4.columns
    =image_tag("map.png", class: "th")
    %h4 See the people that influence your group.
    %p Social Path generates a sociogram from the responses of the group. The sociogram gives you a visual representation of who the main influences are in the group. Get insight on where dysfunctions, bonds, and conflicts might occur.

  .large-4.medium-4.columns
    =image_tag("highlight.png", class: "th")
    %h4 Social Path illuminates important interpersonal connections by generating a sociogram.
    %p Dig deeper with Social Path.  Social path allows you to highlight the connections for each person in your group.  You can view their selection, as well as which people chose this person.
.row
  .large-12.columns
    .panel
      %h4 Ready to try Social Path?
      .row
        .large-9.medium-9.columns
          %p Create and Event with Social Path today!
        .large-3.medium-3.columns
          %a.radius.button{"data-reveal-id" => "firstModal", :href => "/events/new"} Create Event
          #firstModal.reveal-modal{"data-reveal" => ""}
            %h2 New Event Form:
            %p
              - if @event.errors.any?
                %ul
                - @event.errors.full_messages.each do |msg|
                  %li
                    = msg

              = form_for @event do |f|
                %p
                  = f.label :name
                  = f.text_field :name
                %p
                  = f.label :location
                  = f.text_field :location
                %p
                  = f.label :address
                  = f.text_field :address
                %p
                  = f.label :city
                  = f.text_field :city
                %p
                  = f.label :state
                  = f.text_field :state
                %p
                  = f.label :zipcode
                  = f.text_field :zipcode
                %p
                  = f.label :question
                  = f.text_field :question
                %p
                  = f.label :passphrase
                  = f.text_field :passphrase, value: ('a'..'z').to_a.shuffle[0,5].join.upcase
                %p
                  = f.label :description
                  = f.text_field :description
                %p
                  = f.submit
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p &copy; Judy Nguyen (2014)
